<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <nav class="nav">
            @Html.ActionLink("Products", "Index", "Products", null, new { @class = "nav-link" })
            @Html.ActionLink("Categories", "Index", "Categories", null, new { @class = "nav-link" })

            @Html.ActionLink("Cart", "Index", "Cart", null, new { @class = "nav-link" })

            @if (Request.IsAuthenticated)
            {
                 @Html.ActionLink("Orders", "Index", "Orders", null, new { @class = "nav-link" })
               
                @Html.ActionLink("Vendors", "Index", "Vendors", null, new { @class = "nav-link" })
                

                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                }
            }
            else
            {
                @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
            }

        </nav>
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $.each($("[role=progressbar]"), function (i, item) {
                rating = parseFloat($(item).attr("aria-valuenow")) / 5 * 100;
                $(item).width(rating + "%")
            });
        });

    </script>
</body>
</html>
