@model BikeStore.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
              
           @if(ViewData.ModelState["Name"] != null && ViewData.ModelState["Name"].Errors.Any()) {
    <div class="alert alert-danger">
        <strong>Error</strong> @Html.ValidationMessageFor(model => model.Name)
    </div>
     }
            </div>
                <input type="submit" class="btn btn-primary" value="Save" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
